<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookAround</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/Ariil-Alphabet-Letter-B.256.png}">
</head>

<body>
<nav class="navbar navbar-expand-lg bg-secondary navbar-dark fw-bold text-uppercase py-1" th:fragment="navigation">
    <div class="container">
        <a th:href="@{/index}" class="navbar-brand text-white fs-2">Book<span class="h2 fw-bold" style="color: #38b048;">Around</span></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id = "navigation">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a th:href="@{/index}" th:id = "${activePage == 'books' ? 'active' : ''}" class="nav-link text-white">Főoldal</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/latest-additions}" th:id = "${activePage == 'latest-additions' ? 'active' : ''}" class="nav-link text-white">Újdonság</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/bestsellers}" th:id="${activePage == 'bestsellers' ? 'active' : ''}" class="nav-link text-white">Sikerlista</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/stores}" th:id="${activePage == 'stores' ? 'active' : ''}" class="nav-link text-white">Áruházak</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/wishlists}" th:id="${activePage == 'wishlists' ? 'active' : ''}" class="nav-link text-white">Kívánságlista</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/cart}" th:id="${activePage == 'cart' ? 'active' : ''}" class="nav-link text-white">Kosár</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/notifications}" th:id="${activePage == 'notifications' ? 'active' : ''}" class="nav-link text-white">Értesítések</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/profile}" th:id="${activePage == 'profile' ? 'active' : ''}" class="nav-link text-white">profil</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/admin-panel}" th:id="${activePage == 'admin-panel' ? 'active' : ''}" class="nav-link text-white">Admin panel</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>