@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

.scroll-along-linear {
    background: linear-gradient(to bottom right, #ccffcc, rgb(244, 255, 244));
    min-height: 100vh;
    background-repeat: no-repeat;
}

.main {
    padding-top: 20px;
}

.btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
}

.required:after {
    content: " *";
    color: red;
    margin-left: 3px;
}
.card {
    box-shadow: 0 0.46875rem 2.1875rem rgba(4, 9, 20, 0.03), 0 0.9375rem 1.40625rem rgba(4, 9, 20, 0.03), 0 0.25rem 0.53125rem rgba(4, 9, 20, 0.05),
    0 0.125rem 0.1875rem rgba(4, 9, 20, 0.03);
    border-width: 0;
    transition: all 0.2s;
}
.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}
.card-header {
    display: flex;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
    padding-right: 0.625rem;
    height: 3.5rem;
    background-color: #fff;
    border-bottom: 1px solid rgba(26, 54, 126, 0.125);
}
.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}
.flex-truncate {
    min-width: 0 !important;
}
.d-block {
    display: block !important;
}