<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookAround</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/Ariil-Alphabet-Letter-B.256.png}">
</head>

<body>

    <section>
        <div th:replace="~{fragments/navigation :: navigation}"></div>
    </section>

    <div class="container-fluid scroll-along-linear">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <!-- content kezdete -->

                <section class="p-5 bg-light" style="min-height: 100vh;">

                    <div class="container text-center mb-5">
                        <h1 style="font-family: cursive;">Adminisztrátori panel</h1>
                    </div>

                    <section th:if="${customerDeletionVerdict}" class="bg-light p-3 px-5">
                        <div class="container">
                            <div th:text="${customerDeletionVerdict}" class="alert alert-info text-center" />
                        </div>
                    </section>

                    <a th:href="@{/admin-panel-create}" class="btn btn-primary mb-3">Új könyv létrehozása</a>

                    <h2>Ügyfélkezelés</h2>

                    <div class="table-responsive">
                        <table class="table table-hover" style="font-size: 13px;">
                            <thead>
                            <tr>
                                <th>Email cím</th>
                                <th>Név</th>
                                <th>Cím</th>
                                <th>Létrehozva</th>
                                <th>Utolsó bejelentkezés</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="customer : ${customerList}">
                                <td th:text="${customer.getEmail()}">example@gmail.com
                                </td>
                                <td
                                        th:text="${customer.getFirstName()} + ' ' + ${customer.getLastName()}">
                                    John Doe</td>
                                <td
                                        th:text="${customer.getStreet()} + ', ' + ${customer.getCity()} + ', ' + ${customer.getStateOrRegion()} + ', ' + ${customer.getCountry()} + ', ' + ${customer.getPostcode()}">
                                    123 Main St, Anytown, USA</td>
                                <td th:text="${customer.getCreatedAt()}">2022-01-01</td>
                                <td th:text="${customer.getLastLogin()}">2022-03-15
                                    12:34 PM</td>
                                <td>
                                    <form th:action="@{/delete-customer-by-id}" method="post">
                                        <input type="hidden" th:name="toDeleteId" th:value="${customer.getCustomerId()}">
                                        <input type="submit" class="btn btn-danger" value="Törlés">
                                    </form>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </section>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <section>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>