<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookAround</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/Ariil-Alphabet-Letter-B.256.png}">
</head>

<body>
    <div class="container-fluid scroll-along-linear">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <!-- content kezdete -->

                <section class="p-5 bg-light" style="min-height: 100vh;">

                    <div class="container text-center mb-5">
                        <h1 style="font-family: cursive;">Adminisztrátori panel</h1>
                    </div>

                    <div class="accordion" id="adminAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    Ügyfélkezelés
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                                data-bs-parent="#adminAccordion">
                                <div class="accordion-body">
                                    
                                    <div class="table-responsive">
                                        <table class="table table-hover" style="font-size: 13px;">
                                            <thead>
                                                <tr>
                                                    <th>Email cím</th>
                                                    <th>Név</th>
                                                    <th>Cím</th>
                                                    <th>Létrehozva</th>
                                                    <th>Utolsó bejelentkezés</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="customer : ${customerList}">
                                                    <td th:text="${customer.getEmail()}">example@gmail.com</td>
                                                    <td th:text="${customer.getFirstName()} + ' ' + ${customer.getLastName()}">
                                                        John Doe</td>
                                                    <td th:text="${customer.getStreet()} + ', ' + ${customer.getCity()} + ', ' + ${customer.getStateOrRegion()} + ', ' + ${customer.getCountry()} + ', ' + ${customer.getPostcode()}">
                                                        123 Main St, Anytown, USA</td>
                                                    <td th:text="${customer.getCreatedAt()}">2022-01-01</td>
                                                    <td th:text="${customer.getLastLogin()}">2022-03-15 12:34 PM</td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary me-2">Módosítás</button>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger">Törlés</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    Áruházak kezelése
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                                data-bs-parent="#adminAccordion">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover" style="font-size: 13px;">
                                            <thead>
                                                <tr>
                                                    <th>Név</th>
                                                    <th>Cím</th>
                                                    <th>Nyitvatartás</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="store : ${storeList}">
                                                    <td th:text="${store.getStore().getName()}"></td>
                                                    <td th:text="${store.getStore().getStreet()} + ', ' + ${store.getStore().getCity()} + ', ' + ${store.getStore().getStateOrRegion()} + ', ' + ${store.getStore().getCountry()} + ', ' + ${store.getStore().getPostcode()}"></td>
                                                    <td>
                                                        <table class="table table-hover">
                                                            <tbody>
                                                                <tr th:each="hours : ${store.getBusinessHours()}">
                                                                    <td>
                                                                        <th:block th:switch="${hours.getDayOfWeek()}">
                                                                            <span th:case="'1'" th:text="'Hétfő: '"></span>
                                                                            <span th:case="'2'" th:text="'Kedd: '"></span>
                                                                            <span th:case="'3'" th:text="'Szerda: '"></span>
                                                                            <span th:case="'4'" th:text="'Csütörtök: '"></span>
                                                                            <span th:case="'5'" th:text="'Péntek: '"></span>
                                                                            <span th:case="'6'" th:text="'Szombat: '"></span>
                                                                            <span th:case="'7'" th:text="'Vasárnap: '"></span>
                                                                        </th:block>
                                                                        <span th:text="${hours.getOpeningTime()} + ' - '"></span>
                                                                        <span th:text="${hours.getClosingTime()}"></span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary me-2">Módosítás</button>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger">Törlés</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    Rendelések
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                                data-bs-parent="#adminAccordion">
                                <div class="accordion-body">
                                    <div class="table-responsive">
                                        <table class="table table-hover" style="font-size: 13px;">
                                            <thead>
                                                <tr>
                                                    <th>Rendelő</th>
                                                    <th>Létrehozva</th>
                                                    <th>Tartalom</th>
                                                    <th>Kiszállítva</th>
                                                    <th>Személyes felvétel</th>
                                                    <th></th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="order : ${orderList}">
                                                    <td th:text="${order.getCustomer().getEmail()} + ' (' + ${order.getCustomer().getFirstName()} + ' ' + ${order.getCustomer().getLastName()} + ')'"></td>
                                                    <td th:text="${order.getCreatedAt()}"></td>
                                                    <td>
                                                        <table class="table table-hover">
                                                            <tbody>
                                                                <tr>
                                                                    <td>4. mérföldkő</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td th:if="${order.isShipped()}">Igen</td>
                                                    <td th:unless="${order.isShipped()}">Nem</td>
                                                    <td th:if="${order.isPickup()}">Igen</td>
                                                    <td th:unless="${order.isPickup()}">Nem</td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary me-2">Módosítás</button>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-danger">Törlés</button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </section>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>