<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BookAround</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="icon" type="image/x-icon" th:href="@{/img/Ariil-Alphabet-Letter-B.256.png}">
</head>

<body>

    <section>
        <div th:replace="~{fragments/navigation :: navigation}"></div>
    </section>

    <div class="container-fluid scroll-along-linear">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">

                <!-- content kezdete -->
                <section class="p-5 bg-light">

                    <div class="container text-center mb-5">
                        <h1 style="font-family: cursive;">Újdonságok</h1>
                    </div>

                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 mx-auto">
                                <div class="card mb-3" th:each="bookModel : ${bookList}">
                                    <div class="row">
                                        <div class="col-md-4 d-flex align-items-center">
                                            <img th:src="@{/img/book-placeholder.png}" src=""
                                                class="img-fluid mx-auto px-2" alt="Book cover"
                                                style="max-height: 250px;">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <h5 class="card-title fw-bold"
                                                    th:text="${bookModel.getBook().getTitle()}">Book Title</h5>
                                                <p class="card-text">
                                                    <th:block th:each="author : ${bookModel.getAuthors()}">
                                                        <span
                                                            th:text="' | ' + ${author.getAuthorId().getFirstName()} + ' ' + ${author.getAuthorId().getLastName()}"></span>
                                                    </th:block>
                                                </p>
                                                <p class="card-text">
                                                    <th:block th:each="genre : ${bookModel.getGenres()}">
                                                        <span
                                                            th:text="' | ' + ${genre.getGenreId().getGenreName()}"></span>
                                                    </th:block>
                                                </p>
                                                <div class="form-group mb-3">
                                                    <textarea class="form-control" rows="3" maxlength="200" disabled
                                                        style="resize: none;"
                                                        th:text="${bookModel.getBook().getDescription()}">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</textarea>
                                                </div>
                                                <div class="row align-items-center">
                                                    <div class="col">
                                                        <p class="card-text">
                                                            <span
                                                                th:text="'Ár: ' + ${bookModel.getBook().getPrice()} + ' Ft'"></span>
                                                            <th:block
                                                                th:if="${bookModel.getBook().getDiscountedPrice()} ne null">
                                                                <br>
                                                                <span
                                                                    th:text="'Leárazás: ' + ${bookModel.getBook().getDiscountedPrice()} + ' Ft'"></span>
                                                            </th:block>
                                                        </p>
                                                    </div>
                                                    <div class="col-auto">
                                                        <a th:href="@{/book/{bookId}(bookId=${bookModel.getBook().getBookId()})}" class="btn btn-primary">Több</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                </section>

            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <section>
        <div th:replace="~{fragments/footer :: footer}"></div>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
</body>

</html>