<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BookAround</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="icon" type="image/x-icon" th:href="@{/img/Ariil-Alphabet-Letter-B.256.png}">
</head>

<body>

<section>
  <div th:replace="~{fragments/navigation :: navigation}"></div>
</section>

<div class="container-fluid scroll-along-linear">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="modal-body">
        <section class="p-5 bg-light" style="min-height: 100vh;">
          <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
              <h1>Áruházak</h1>
              <div th:each="store : ${storeList}">
                <div class="card">
                  <div class="card-body">
                    <h2 class="card-title" th:text="${store.getStore().getName()}"></h2>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <h3>Cím:</h3>
                        <span th:text="${store.getStore().getCountry()}"></span>
                        <br>
                        <span th:text="${store.getStore().getStateOrRegion()}"></span>
                        <br>
                        <span th:text="${store.getStore().getPostcode()}"></span>,
                        <span th:text="${store.getStore().getCity()}"></span>
                        <br>
                        <span th:text="${store.getStore().getStreet()}"></span>
                      </div>
                      <div class="col-md-6">
                        <h3>Nyitvatartás:</h3>
                        <div th:if="${!store.getBusinessHours().isEmpty()}">
                          <table class="card-table-date">
                            <thead>
                              <tr>
                                <th>Nap</th>
                                <th>Nyitás</th>
                                <th>Zárás</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr th:each="businessHours : ${store.getBusinessHours()}" th:switch="${businessHours.getDayOfWeek()}">
                                <td th:case="'1'">Hétfő</td>
                                <td th:case="'2'">Kedd</td>
                                <td th:case="'3'">Szerda</td>
                                <td th:case="'4'">Csütörtök</td>
                                <td th:case="'5'">Péntek</td>
                                <td th:case="'6'">Szombat</td>
                                <td th:case="'7'">Vasárnap</td>
                                <td th:text="${businessHours.getOpeningTime()}"></td>
                                <td th:text="${businessHours.getClosingTime()}"></td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <div th:if="${store.getBusinessHours().isEmpty()}">
                          <p>Az üzlet nem rendelkezik nyilvántartással!</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-buttons row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                      <a th:href="@{/store/{storeId}(storeId=${store.getStore().getStoreId()})}" class="btn btn-primary">Több</a>
                    </div>
                  </div>
                </div>
                <br>
                <br>
                <br>
              </div>
            </div>
            <div class="col-md-1"></div>
          </div>

        </section>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<section>
  <div th:replace="~{fragments/footer :: footer}"></div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous">
</script>
</body>

</html>